/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.rdt_TableRow {
  @apply bg-gray-100 dark:bg-gray-700  text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600  !important;
}

.rdt_Table {
  @apply bg-transparent shadow-lg !important;
}

.rdt_TableHead {
  @apply rounded-t-md overflow-hidden bg-transparent !important;
}

.rdt_TableHeadRow {
  @apply bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 overflow-hidden !important;
}

.select {
  appearance: none;
  @apply min-h-[0px] outline-none border-none;
}
.current-run-title {
  @apply text-xl text-gray-600 dark:text-gray-300;
}

.current-run-header {
  @apply flex flex-row  max-w-xs justify-between mb-6;
}

.current-run-percentage {
  @apply h-1 text-xs  text-gray-400 text-right;
}

.current-run-bar-outer {
  @apply h-2 rounded-full w-full bg-gray-300 overflow-hidden;
}

.current-run-bar-inner {
  @apply h-2 rounded-full;
}

.top-bar-icon {
  @apply w-6 h-6 hover:scale-110 transition-all ease-in-out duration-300 cursor-pointer dark:text-gray-300;
}

.top-bar-icon-sun {
  @apply text-yellow-400 !important;
}

.file-tree-wrapper {
  @apply w-full h-full rounded max-h-full flex flex-col space-y-5;
}

.file-tree-root {
  @apply relative p-3 w-full bg-gray-100 overflow-scroll hide-scroll  rounded dark:bg-gray-600 text-gray-700 dark:text-gray-200 h-full;
}

.file-tree-root-nothing {
  @apply border-8 border-dashed border-gray-400 dark:border-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500;
}

.file-tree-root-nothing-text {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-3xl text-gray-400 dark:text-gray-800 font-bold select-none;
}

.error-page-status-code {
  @apply text-5xl text-gray-800 font-extrabold dark:text-white;
}

.error-page-textarea {
  @apply textarea w-full min-h-[6rem] h-24 max-h-[12rem] textarea-bordered textarea-primary bg-white dark:bg-gray-700 text-gray-600 dark:text-gray-300;
}

.error-page-text {
  @apply text-gray-600 dark:text-gray-300;
}

.sidebar-icon {
  @apply w-[80%] mx-auto mt-5  dark:invert-[1] dark:brightness-50 dark:contrast-200 dark:hue-rotate-60 dark:saturate-[3];
}

.sidebar-container {
  @apply w-[200px] min-h-screen bg-gray-50 dark:bg-gray-700 dark:border-gray-800 flex flex-col border-r;
}

.sidebar-text {
  @apply text-xs uppercase tracking-widest font-medium ml-2;
}

.sidebar-btn {
  @apply p-3 flex flex-row items-center hover:text-gray-900 hover:bg-gray-200 dark:hover:bg-gray-600;
}

.sidebar-btn-col {
  @apply flex flex-col w-full mt-3;
}

.course-card-title {
  @apply font-semibold  text-gray-800 dark:text-gray-300 whitespace-nowrap;
}
.course-card-last-update {
  @apply text-xs text-gray-400 mt-10;
}

.course-card-name {
  @apply font-medium text-xs text-gray-600 dark:text-gray-400;
}

.course-card {
  @apply border border-gray-200 shadow-sm transition rounded-lg bg-white p-4 dark:bg-gray-600 dark:border-gray-700;
}

.instructor-badge {
  @apply badge bg-purple-500 border-purple-500 uppercase font-normal select-none;
}

.student-badge {
  @apply badge bg-blue-500 border-blue-500 uppercase font-normal select-none;
}

.course-dialog-modal,
.modal-form {
  @apply max-h-[70vh] inline-block z-10 max-w-[1000px] p-6 my-8 overflow-visible text-left align-middle transition-all transform bg-white dark:bg-gray-800 shadow-xl rounded-2xl text-[#415A6E];
}

.course-dialog-content,
.modal-form-content {
  @apply h-full overflow-y-visible  px-2 py-2 overflow-x-visible flex flex-col space-y-2;
}

.course-dialog-title,
.modal-form-title {
  @apply text-xl font-medium leading-6 dark:text-gray-300 mb-2;
}

.modal-form-textarea {
  @apply min-h-[100px] max-h-[300px] border dark:border-0 focus:outline-none dark:bg-gray-700 p-1 px-3 w-full text-gray-500 dark:text-gray-300 flex-row space-x-2  text-left rounded-xl shadow-lg h-32;
}

.modal-form-title-md {
  @apply font-medium mt-4 text-gray-700 dark:text-gray-300;
}

.modal-form-btn-row {
  @apply flex flex-row justify-end space-x-2;
}

.modal-form-text-base {
  @apply text-gray-700 dark:text-gray-300;
}

.modal-form-toggle {
  @apply flex flex-row items-center space-x-2;
}

.modal-form-input {
  @apply border dark:border-0 focus:outline-none dark:bg-gray-700 p-1 px-3 w-full text-gray-500 dark:text-gray-300 flex-row space-x-2  text-left rounded-md shadow-lg;
}

.modal-form-list-box {
}

.modal-form-btn-ok {
  @apply w-fit rounded-md px-4 py-2 bg-green-500 hover:bg-green-600 text-base leading-6 font-medium text-white shadow-sm focus:outline-none focus:border-blue-300  transition ease-in-out duration-150 sm:text-sm sm:leading-5;
}

.modal-form-btn-cancel {
  @apply w-fit rounded-md px-4 py-2 bg-gray-400 hover:bg-gray-500 text-base leading-6 font-medium text-white shadow-sm focus:outline-none focus:border-blue-300 transition ease-in-out duration-150 sm:text-sm sm:leading-5;
}

.listbox-options {
  @apply mb-10  absolute overflow-visible w-full py-1 mt-1  text-base bg-white dark:bg-gray-700 dark:text-gray-400 rounded-md shadow-lg shadow-black/30 max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.tooltip-icon {
  @apply w-5 h-5 text-gray-700 dark:text-gray-300;
}

.tooltip {
  @apply z-10;
}

.tooltip::before {
  @apply shadow-lg z-10;
}

.tooltip::after {
  @apply z-10;
}

.tooltip-bottom-left::before {
  @apply -translate-x-[90%] z-10;
}

.tooltip-bottom-right::before {
  @apply -translate-x-[10%] z-10;
}

.tooltip-info::before {
  @apply bg-blue-100/50 dark:bg-blue-300/50 backdrop-blur-sm text-slate-700;
}

.tooltip-info::after {
  @apply border-b-blue-100/50 dark:border-b-blue-300/50;
}

.course-list-title-add {
  @apply w-7 h-7 hover:scale-110 transition ease-in-out duration-300;
}

.course-list-title-icon {
  @apply w-7 h-7;
}

.course-list-title {
  @apply flex flex-row text-gray-700 dark:text-gray-300 justify-start gap-x-4 pb-4 items-center;
}

.course-list-title-text {
  @apply text-lg font-bold;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: 20px;
}

.course-dialog-content::-webkit-scrollbar {
  width: 3px;
}

.course-dialog-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.course-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.toaster {
  @apply cursor-pointer rounded text-gray-600 bg-gray-50 border border-gray-200 dark:bg-slate-900  dark:border-gray-900 dark:text-gray-300 !important;
}

.toaster-content {
  @apply flex flex-row items-start space-x-2;
}

.toaster-text {
  @apply text-justify text-sm;
}

.toaster-success {
}

.toaster-error {
}

.toaster-warning {
}

.env-list-container,
.template-list-container,
.sandbox-list-container,
.workspace-list-container {
  @apply flex flex-col w-full;
}

.env-list-header,
.template-list-header,
.sandbox-list-header,
.workspace-list-header {
  @apply flex flex-row text-gray-700 dark:text-gray-300 justify-start gap-x-4 pb-4;
}

.env-grid,
.template-grid,
.sandbox-grid {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-2 flex-1;
}

.env-grid-title,
.template-grid-title,
.sandbox-grid-title {
  @apply text-lg font-bold;
}

.env-card,
.template-card,
.sandbox-card {
  @apply cursor-pointer border border-gray-200 dark:border-gray-700 shadow-sm rounded-lg bg-white dark:bg-gray-600 px-4 py-4 min-h-[9rem] h-36 flex flex-row items-start justify-between shrink;
}

.env-card-content,
.template-card-content,
.sandbox-card-content {
  @apply flex flex-col h-full shrink;
}

.env-card-name,
.template-card-name,
.sandbox-card-name {
  @apply font-semibold text-sm text-gray-600 dark:text-gray-300 text-left truncate;
}

.env-card-lib {
  @apply font-medium text-xs text-gray-600 dark:text-gray-300 text-left truncate;
}

.env-card-ref {
  @apply font-medium text-xs text-gray-400 truncate;
}

.env-card-des,
.sandbox-card-des {
  @apply font-medium text-xs text-gray-400 truncate;
}

.empty-div {
  @apply bg-gray-200 dark:bg-gray-700 rounded-md h-36 p-6 flex flex-grow max-h-[400px];
}

.empty-div-text {
  @apply text-gray-400 dark:text-gray-300 font-bold m-auto object-center select-none;
}
