/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.card.title {
  @apply font-semibold  text-gray-800 dark:text-gray-300 whitespace-nowrap;
}

.course-dialog-modal,
.modal-form {
  @apply max-h-[70vh] inline-block w-full max-w-md p-6 my-8 overflow-visible text-left align-middle transition-all transform bg-white dark:bg-gray-800 shadow-xl rounded-2xl text-[#415A6E];
}

.course-dialog-content,
.modal-form-content {
  @apply h-full overflow-y-visible  px-2 py-2 overflow-x-visible flex flex-col space-y-4;
}

.course-dialog-title,
.modal-form-title {
  @apply text-xl font-medium leading-6 dark:text-gray-300 mb-5;
}

.modal-form-textarea {
  @apply min-h-[100px] max-h-[300px] border dark:border-0 focus:outline-none dark:bg-gray-700 p-1 px-3 w-full text-gray-500 dark:text-gray-300 flex-row space-x-2  text-left rounded-xl shadow-lg h-32;
}

.modal-form-title-md {
  @apply font-medium mt-4 text-gray-700 dark:text-gray-300;
}

.modal-form-btn-row {
  @apply flex flex-row justify-end space-x-2;
}

.modal-form-text-base {
  @apply text-gray-700 dark:text-gray-300;
}

.modal-form-toggle {
  @apply flex flex-row items-center space-x-2;
}

.modal-form-input {
  @apply border dark:border-0 focus:outline-none dark:bg-gray-700 p-1 px-3 w-full text-gray-500 dark:text-gray-300 flex-row space-x-2  text-left rounded-md shadow-lg;
}

.modal-form-list-box {
}

.modal-form-btn-ok {
  @apply w-fit rounded-md px-4 py-2 bg-green-500 hover:bg-green-600 text-base leading-6 font-medium text-white shadow-sm focus:outline-none focus:border-blue-300  transition ease-in-out duration-150 sm:text-sm sm:leading-5;
}

.modal-form-btn-cancel {
  @apply w-fit rounded-md px-4 py-2 bg-gray-400 hover:bg-gray-500 text-base leading-6 font-medium text-white shadow-sm focus:outline-none focus:border-blue-300 transition ease-in-out duration-150 sm:text-sm sm:leading-5;
}

.listbox-options {
  @apply mb-10  absolute overflow-visible w-full py-1 mt-1  text-base bg-white dark:bg-gray-700 dark:text-gray-400 rounded-md shadow-lg shadow-black/30 max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.tooltip-icon {
  @apply w-5 h-5 text-gray-700 dark:text-gray-300;
}

.tooltip {
  @apply z-[1];
}

.tooltip-bottom-left::before {
  @apply -translate-x-[90%] z-[100];
}

.tooltip-bottom-right::before {
  @apply -translate-x-[10%] z-[100];
}

.tooltip-info::before {
  @apply bg-blue-300/50 backdrop-blur-sm;
}

.tooltip-info::after {
  @apply border-b-blue-300/50 backdrop-blur-sm;
}

.course-list-title-add {
  @apply w-7 h-7 hover:scale-110 transition ease-in-out duration-300;
}

.course-list-title-icon {
  @apply w-7 h-7;
}

.course-list-title {
  @apply flex flex-row text-gray-700 dark:text-gray-300 justify-start gap-x-4 pb-4 items-center;
}

.course-list-title-text {
  @apply text-lg font-bold;
}

.hide-scroll::-webkit-scrollbar {
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: 20px;
}

.course-dialog-content::-webkit-scrollbar {
  width: 3px;
}

.course-dialog-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.course-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.toaster-success {
  @apply bg-white !important;
}

.toaster-error {
}

.env-card {
}
